body, html {
  height:100%;
  margin:0;
  padding:0;
}

 
 
 body
 {
   margin: 0;
   padding: 0;
   background: #ffffff;
   color: #b0aeae;
   font-family: "Avenir Next", "Avenir", sans-serif;
 }

 .header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
 }

 .header h1{
  font-size: 70px;
  font-weight: 200;
  color: black;
  
 }

 .header p{
  font-size: 19px;
  font-weight: 200;
  color: black;
}

 .container h2{
  font-size: 50px;
  font-weight: 170;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
   }


 
 
 /* NAVBAR START */
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px; 
 }
 
 #menuToggle a
 {
   color: #040404;
   transition: color 0.4s ease;
 }
 
 #menuToggle a:hover
 {
   color: rgb(0, 0, 0);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 100px;
   height: 100%;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; 
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }
 
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #000000;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
 }

 
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   height: 100vh;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 20px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
 /* what is going on here? */
 /* NAVBAR END */

 #hero{
  width: 100%;
  height: 120vh;
  background: url(../images/pexels-ksenia-chernaya-5691475.jpg);
 }



 .card{
  /* display: flex;
  flex-direction: row !important;
  flex-wrap: wrap; */
  flex: 1;
  height: 30%;
  
 }

#right-side{
  display: flex;
  flex-direction: row;


 }

.card-img-top.card-img-top{
  height: 30%;
}

 .social-links a{
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  color:#b0aeae;
 
  
 }
 

 .container{
  display: flex;
  justify-content: center;
 }
 .container h3{
  font-size: 22px;
  font-weight: 200;
  display: flex;
  justify-content:center;
 }
 
 .container p{
  font-size: 17px;
  font-weight: 200;
 }

 .timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

.cv {
  position: relative;
  max-width: 700px;
}

.cv:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.cv:nth-child(even) {
  padding: 30px 30px 30px 0;
}

  .cv::before{
    content: "";
    position: absolute;
    width: 50%;
    border: solid #b0aeae;;
  }

  .cv:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }

  .cv:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }

  .cv:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }

  .cv:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }

  .cv:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    background: rgb(242, 241, 241);
    color: #b0aeae;
    border-radius: 10px;
    padding: 10px;
  }
  
  .title {
    color: #b0aeae;
    
  }